@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
    --navbar-bg-color: hsl(0, 0%, 0%);
    --navbar-text-color: hsl(0, 0%, 85%);
    --navbar-text-color-focus: white;
    --navbar-bg-contrast: hsl(0, 0%, 25%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    height: 100vh;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}

/* .container {
    max-width: 1150px;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-left: auto;
    margin-right: auto;
} */


/* Навбар */
#navbar {
    --navbar-height: 94px;
    position: sticky;
    height: var(--navbar-height);
    background-color: var(--navbar-bg-color);
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.navbar-item {
    margin: 0.4em;
    width: 100%;
}

.home-link,
.navbar-link {
    color: var(--navbar-text-color);
    text-decoration: none;
    display: flex;
    font-weight: 400;
    align-items: center;
    font-size: 12px;
}

.home-link {
    font-size: 18px;
    font-weight: 700;
}

.home-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
}

.navbar-link {
    justify-content: center;
    width: 100%;
    padding: 0.4em 0.8em;
    border-radius: 5px;
}

.navbar-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
    background-color: var(--navbar-bg-contrast);
}

.navbar-logo {
    background-color: var(--navbar-text-color-focus);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 0.5em;
}

#navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    background-color: var(--navbar-text-color);
}

#navbar-toggle:is(:focus, :hover) .icon-bar {
    background-color: var(--navbar-text-color-focus);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
    position: absolute;
    margin: 0;
    width: 30px;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
    transform: rotate(45deg);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
    opacity: 0;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
    transform: rotate(-45deg);
}

#navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
}

#navbar-toggle[aria-expanded="true"]+#navbar-menu {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    visibility: visible;
}

.navbar-links {
    list-style: none;
    position: absolute;
    background-color: var(--navbar-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    margin: 1.4rem;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#navbar-toggle[aria-expanded="true"]+#navbar-menu .navbar-links {
    padding: 1em;
}


.back {
    width: 100%;
    min-height: 630vh;
    background-color: black;
    position: relative;
}


/* Секция 1 */
.section1 {
    width: 100%;
    min-height: 100vh;
    /* background-color: red; */
    position: relative;

}

.s1w {
    width: 335px;
    min-height: 35px;
    background-color: rgb(29, 27, 27);
    border-radius: 20px;
    padding: 2px;
    margin-bottom: 20px;
}

.s1w_1 {
    width: 55px;
    min-height: 30px;
    font-size: 13px;
    background-color: #25AB75;
    border-radius: 50px;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600;
}

.s1w_2 {
    font-size: 13px;
    font-weight: 400;
}

.s1_ct {
    width: 70%;
    min-height: 380px;
    /* background-color: aqua; */
    position: absolute;
    z-index: 100;

}

.s1_ct>h1 {
    font-size: 175px;
    font-weight: 600;
    line-height: 155px;
}

.s1_images {
    width: 60%;
    min-height: 100vh;
    background-image: url("../img/s1/s1_1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 25px;
    right: -25px;
    z-index: 100;
    /* background-color: blueviolet; */
}

.s1_t {
    width: 500px;
    min-height: 150px;
    /* background-color: brown; */
    position: absolute;
    top: 400px;
}

.s1_t>span {
    font-size: 16px;
    color: rgb(112, 111, 111);
    ;
}

.s1_l {
    width: 190px;
    min-height: 60px;
    background-color: #25AB75;
    border-radius: 10px;
    float: left;
    margin: 40px 0;
}

.s1_l {
    width: 190px;
    min-height: 60px;
    background-color: #25AB75;
    border-color: #25AB75;
    border-radius: 10px;
    float: left;
    font-size: 18px;
    margin: 40px 25px 40px 0;
}

.s1_r {
    width: 190px;
    min-height: 60px;
    background-color: rgb(29, 27, 27);
    border-color: rgb(29, 27, 27);
    border-radius: 10px;
    float: left;
    font-size: 18px;
    margin: 40px 0;
}


/* Анимации */
.a1 {
    width: 160px;
    min-height: 95px;
    background-color: rgb(29, 27, 27);
    position: absolute;
    border-radius: 20px;
    top: 100px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    animation: myfirst 4s linear 2s infinite alternate;
}

@keyframes myfirst {
    0% {
        right: 0px;
        top: 100px;
    }

    25% {
        right: 20px;
        top: 75px;
    }

    50% {
        right: 0px;
        top: 50px;
    }

    75% {
        right: -20px;
        top: 75px;
    }

    100% {
        right: 0px;
        top: 100px;
    }
}

.a1>span {
    font-size: 13px;
    position: absolute;
    left: 30px;
    bottom: 15px;
}

.a1>h2 {
    color: #FFE642;
    font-size: 40px;
    position: absolute;
    top: 15px;
    left: 30px;
}

.a2 {
    width: 160px;
    min-height: 95px;
    background-color: rgb(29, 27, 27);
    position: absolute;
    border-radius: 20px;
    top: 220px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    animation: mysecond 4s linear 2s infinite alternate;
}

@keyframes mysecond {
    0% {
        top: 220px;
    }

    50% {
        top: 300px;
    }

    100% {
        top: 220px;
    }
}

.a2>span {
    font-size: 13px;
    position: absolute;
    left: 30px;
    bottom: 17px;
}

.a2>h2 {
    color: #FB1351;
    font-size: 40px;
    position: absolute;
    top: 15px;
    left: 30px;
}


/* Секция 2 */
.section2 {
    width: 100%;
    min-height: 120vh;
    margin-top: 70px;
    /* background-color: darkorange; */
    position: relative;
    left: 0;
}

.s2_upl {
    display: inline-block;
    font-size: 35px;
}

.s2_upr {
    float: right;
    color: rgb(112, 111, 111);
    margin-top: 15px;
    font-size: 12px;
}

/* Фотографии */

.s2_img1 {
    width: 343px;
    min-height: 270px;
    /* background-color: antiquewhite; */
    position: absolute;
    top: 90px;
    border-radius: 10px;
    background-image: url('../img/s2/s2_1.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.s2_img1:hover {
    width: 345px;
    transition: 0.1s;
}

.s2_img1>h1 {
    font-size: 48px;
    position: absolute;
    left: 15px;
    bottom: 0;
    z-index: 10;
}

.s2_img1>span {
    font-size: 13px;
    color: rgb(112, 111, 111);
    position: absolute;
    bottom: -20px;
    left: 15px;
    z-index: 10;
}

.s2_time1 {
    width: 70px;
    height: 30px;
    background-color: black;
    border-radius: 7px;
    position: absolute;
    right: 0;
    bottom: 25px;
}

.s2_img2 {
    width: 343px;
    min-height: 270px;
    /* background-color: antiquewhite; */
    position: absolute;
    top: 90px;
    /* left: 380px; */
    left: 35%;
    border-radius: 10px;
    background-image: url('../img/s2/s2_2.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.s2_img2:hover {
    width: 345px;
    transition: 0.1s;
}

.s2_img2>h1 {
    font-size: 48px;
    position: absolute;
    left: 12px;
    bottom: 0;
    z-index: 10;
}

.s2_img2>span {
    font-size: 13px;
    color: rgb(112, 111, 111);
    position: absolute;
    bottom: -20px;
    left: 15px;
    z-index: 10;
}

.s2_img3 {
    width: 343px;
    min-height: 270px;
    /* background-color: antiquewhite; */
    position: absolute;
    top: 90px;
    right: 0;
    border-radius: 10px;
    background-image: url('../img/s2/s2_3.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.s2_img3:hover {
    width: 345px;
    transition: 0.1s;
}

.s2_img3>h1 {
    font-size: 48px;
    position: absolute;
    left: 15px;
    bottom: 0;
    z-index: 10;
}

.s2_img3>span {
    font-size: 13px;
    color: rgb(112, 111, 111);
    position: absolute;
    bottom: -20px;
    left: 15px;
    z-index: 10;
}

.s2_img4 {
    width: 343px;
    min-height: 270px;
    /* background-color: antiquewhite; */
    position: absolute;
    top: 460px;
    left: 0;
    border-radius: 10px;
    background-image: url('../img/s2/s2_4.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.s2_img4:hover {
    width: 345px;
    transition: 0.1s;
}

.s2_img4>h1 {
    font-size: 48px;
    position: absolute;
    left: 15px;
    bottom: 0;
    z-index: 10;
}

.s2_img4>span {
    font-size: 13px;
    color: rgb(112, 111, 111);
    position: absolute;
    bottom: -20px;
    left: 15px;
    z-index: 10;
}

.s2_img5 {
    width: 343px;
    min-height: 270px;
    /* background-color: antiquewhite; */
    position: absolute;
    top: 460px;
    left: 35%;
    border-radius: 10px;
    background-image: url('../img/s2/s2_5.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.s2_img5:hover {
    width: 345px;
    transition: 0.1s;
}

.s2_img5>h1 {
    font-size: 48px;
    position: absolute;
    left: 15px;
    bottom: 0;
    z-index: 10;
}

.s2_img5>span {
    font-size: 13px;
    color: rgb(112, 111, 111);
    position: absolute;
    bottom: -20px;
    left: 15px;
    z-index: 10;
}

.s2_img6 {
    width: 343px;
    min-height: 270px;
    /* background-color: antiquewhite; */
    position: absolute;
    top: 460px;
    right: 0;
    border-radius: 10px;
    background-image: url('../img/s2/s2_6.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.s2_img6:hover {
    width: 345px;
    transition: 0.1s;
}

.s2_img6>h1 {
    font-size: 48px;
    position: absolute;
    left: 15px;
    bottom: 0;
    z-index: 10;
}

.s2_img6>span {
    font-size: 13px;
    color: rgb(112, 111, 111);
    position: absolute;
    bottom: -20px;
    left: 15px;
    z-index: 10;
}


/* Секция 3 */
.section3 {
    width: 100%;
    min-height: 220vh;
    margin-top: 70px;
    /* background-color: darkmagenta;   */
    position: relative;
}

.square {
    width: 900px;
    height: 730px;
    position: absolute;
    right: 0px;
    background-color: rgb(26, 25, 25);
}

.s3_rt {
    width: 480px;
    min-height: 200px;
    position: absolute;
    right: 98px;
    top: 130px;
}

.s3_rt>span {
    font-size: 23px;
    color: rgb(112, 111, 111);
    font-weight: 400;
    line-height: 50px;
}

.s3_lt {
    width: 520px;
    min-height: 480px;
    position: absolute;
    z-index: 100;
    top: 98px;
}

.s3_lt_1 {
    font-size: 120px;
    font-weight: 600;
    line-height: 120px;
    /* z-index: 1000; */
}

.s3_lt_2 {
    width: 530px;
    height: 140px;
    background-image: url('../img/s3/s3_1.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    position: absolute;
    bottom: -75px;
    left: -50px;
    z-index: -1;
}

.s3_img2 {
    width: 515px;
    height: 514px;
    background-image: url('../img/s3/s3_2.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 1px;
    top: 554px;
}

.s3_img2>h4 {
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    left: 20px;
    bottom: -5px;
}

.s3_img2>span {
    font-size: 14px;
    font-weight: 400;
    color: rgb(112, 111, 111);
    position: absolute;
    left: 20px;
    bottom: -20px;
}

.s3_img3 {
    width: 321px;
    height: 300px;
    background-image: url('../img/s3/s3_3.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 3px;
    top: 729px;
}

.s3_img3>h4 {
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    bottom: -45px;
}

.s3_img3>span {
    font-size: 14px;
    font-weight: 400;
    color: rgb(112, 111, 111);
    position: absolute;
    bottom: -60px;
}

.s3_img4 {
    width: 321px;
    height: 300px;
    background-image: url('../img/s3/s3_4.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 27%;
    top: 1029px;
}

.s3_img4>h4 {
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    bottom: -45px;
}

.s3_img4>span {
    font-size: 14px;
    font-weight: 400;
    color: rgb(112, 111, 111);
    position: absolute;
    bottom: -60px;
}


.section4 {
    width: 100%;
    min-height: 140vh;
    /* background-color: cyan; */
    position: relative;
}

.accordion {
    width: 100%;
    background-color: black;
}

.accordion-section {
    height: 185px;
    color: white;
    font-size: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid rgba(247, 245, 245, 0.1);
    display: flex;
    justify-content: space-between;

}

.accordion-content {
    font-size: 14px;
    padding-left: 80px;
    display: none;
    color: white;
}

.left {
    font-size: 25px;
    font-weight: 600;
    color: rgb(75, 73, 73);
}

.down {
    font-size: 14px;
    font-weight: 400;
    color: rgb(75, 73, 73);

}

.s4_tS1 {
    margin-left: 20px;
}

.s4_tH {
    margin-left: -110px;
}

.s4_tS2 {
    margin-left: -60px;
}

.s4_tB {
    margin-left: -120px;
}

.k_footer {
    width: 100%;
    min-height: 50vh;
    margin-top: 40px;
    /* background-color: forestgreen; */
    position: relative;
    /* top: 50px; */
}

.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #000000;
}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}

.footer-dark ul a:hover {
    opacity: 0.8;
}



.footer-dark .item.text {
    margin-bottom: 36px;
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer-dark .item.social {
    text-align: center;
}

.footer-dark .item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
}

.footer-dark .item.social>a:hover {
    opacity: 0.9;
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}








@media screen and (min-width: 768px) {

    #navbar-toggle,
    #navbar-toggle[aria-expanded="true"] {
        display: none;
    }

    #navbar-menu,
    #navbar-toggle[aria-expanded="true"] #navbar-menu {
        visibility: visible;
        opacity: 1;
        position: static;
        display: block;
        height: 100%;
    }

    .navbar-links,
    #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
        margin: 0;
        padding: 0;
        box-shadow: none;
        position: static;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }

    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }

    .footer-dark .item.text {
        margin-bottom: 0;
    }



}

@media (max-width:991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 20px;
    }

    .s1w{
        width: 235px;
        min-height: 20px;
    }

    .s1w_1{
        width: 35px;
        min-height: 20px;
    }

    .s1w_2{
        font-size: 9px;
    }

    .s1_ct>h1 {
        font-size: 125px;
        font-weight: 600;
        line-height: 135px;
    }

    .a1 {
        display: none;
    }

    .a2 {
        display: none;
    }

    .s1_images {
        top: -40px;
    }

    .s1_l {
        width: 120px;
        min-height: 60px;
    }

    .s1_r {
        width: 130px;
        min-height: 60px;
    }

    .s1_t {
        width: 400px;
    }

    .s1_t>span {
        font-size: 16px;
    }

    .section2 {
        min-height: 200vh;
    }

    .s2_img2 {
        left: 55%;
    }

    .s2_img3 {
        top: 400px;
        left: 0;
    }

    .s2_img4 {
        top: 400px;
        left: 55%;
    }

    .s2_img5 {
        top: 710px;
        left: 0;
    }

    .s2_img6 {
        top: 710px;
        left: 55%;
    }

    .section3 {
        min-height: 180vh;
    }

    .square {
        width: 497px;
        height: 477px;
    }

    .s3_rt {
        display: none;
    }

    .s3_lt_1 {
        font-size: 70px;
        line-height: 90px;
    }

    .s3_lt_2 {
        width: 300px;
        height: 80px;
        top: 240px;
        left: 0;
    }

    .s3_img2 {
        width: 300px;
        height: 300px;
        top: 400px;
    }

    .s3_img2>h4 {
        font-size: 15px;
        bottom: -10px;
    }

    .s3_img2>span {
        font-size: 11px;
        bottom: -20px;
    }

    .s3_img3 {
        width: 196px;
        height: 199px;
        top: 477px;
    }

    .s3_img3>h4 {
        font-size: 15px;
        bottom: -30px;
    }

    .s3_img3>span {
        font-size: 11px;
        bottom: -40px;
    }

    .s3_img4 {
        width: 196px;
        height: 199px;
        top: 675px;
        left: 200px;
    }

    .s3_img4>h4 {
        font-size: 15px;
        bottom: -30px;
    }

    .s3_img4>span {
        font-size: 11px;
        bottom: -40px;
    }

    .s4_text{
        font-size: 35px;
    }

    .down{
        font-size: 10px;
    }


}