@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
    --navbar-bg-color: hsl(0, 0%, 0%);
    --navbar-text-color: hsl(0, 0%, 85%);
    --navbar-text-color-focus: white;
    --navbar-bg-contrast: hsl(0, 0%, 25%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    height: 100vh;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}


/* Навбар */
#navbar {
    --navbar-height: 70px;
    position: fixed;
    top: 0;
    height: var(--navbar-height);
    background-color: var(--navbar-bg-color);
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.navbar-item {
    margin: 0.4em;
    width: 100%;
}

.home-link,
.navbar-link {
    color: var(--navbar-text-color);
    text-decoration: none;
    display: flex;
    font-weight: 400;
    align-items: center;
    font-size: 12px;
}

.home-link {
    font-size: 18px;
    font-weight: 700;
}

.home-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
}

.navbar-link {
    justify-content: center;
    width: 100%;
    padding: 0.4em 0.8em;
    border-radius: 5px;
}

.navbar-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
    background-color: var(--navbar-bg-contrast);
}

.navbar-logo {
    background-color: var(--navbar-text-color-focus);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 0.5em;
}

#navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    background-color: var(--navbar-text-color);
}

#navbar-toggle:is(:focus, :hover) .icon-bar {
    background-color: var(--navbar-text-color-focus);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
    position: absolute;
    margin: 0;
    width: 30px;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
    transform: rotate(45deg);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
    opacity: 0;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
    transform: rotate(-45deg);
}

#navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
}

#navbar-toggle[aria-expanded="true"]+#navbar-menu {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    visibility: visible;
}

.navbar-links {
    list-style: none;
    position: absolute;
    background-color: var(--navbar-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    margin: 1.4rem;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#navbar-toggle[aria-expanded="true"]+#navbar-menu .navbar-links {
    padding: 1em;
}


.back {
    width: 100%;
    min-height: 630vh;
    background-color: black;
    position: relative;
}


/* Секция 1 */
.section1 {
    width: 100%;
    min-height: 100vh;
    margin-top: 69px;
    /* background-color: red; */
    position: relative;

}

.s1w {
    width: 335px;
    min-height: 35px;
    background-color: rgb(29, 27, 27);
    border-radius: 20px;
    padding: 2px;
    margin-bottom: 20px;
    position: relative;
}

.s1w_1 {
    width: 55px;
    min-height: 30px;
    font-size: 13px;
    background-color: #25AB75;
    border-radius: 50px;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600;
}

.s1w_2 {
    font-size: 13px;
    font-weight: 400;
}

.s1_ct {
    width: 70%;
    min-height: 380px;
    /* background-color: aqua; */
    position: absolute;
    z-index: 100;

}

.s1_ct>h1 {
    font-size: 175px;
    font-weight: 600;
    line-height: 155px;
}

.s1_images {
    width: 45%;
    min-height: 100vh;
    background-image: url("../img/s1/s1_1.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    right: 12px;
    z-index: 100;
    /* background-color: blueviolet; */
}

.s1_t {
    width: 500px;
    min-height: 150px;
    /* background-color: brown; */
    position: absolute;
    top: 400px;
}

.s1_t>span {
    font-size: 16px;
    color: rgb(112, 111, 111);
    ;
}


.s1_l {
    width: 190px;
    min-height: 60px;
    background-color: #25AB75;
    border-color: #25AB75;
    border-radius: 10px;
    float: left;
    font-size: 18px;
    margin: 40px 25px 40px 0;
    position: absolute;
    top: 60px;
    left: 0;
}

.s1_r {
    width: 190px;
    min-height: 60px;
    background-color: rgb(29, 27, 27);
    border-color: rgb(29, 27, 27);
    border-radius: 10px;
    float: left;
    font-size: 18px;
    margin: 40px 0;
    position: absolute;
    top: 60px;
    left: 240px;
}


/* Анимации */
.a1 {
    width: 160px;
    min-height: 95px;
    background-color: rgb(29, 27, 27);
    position: absolute;
    border-radius: 20px;
    top: 100px;
    right: 0;
    cursor: pointer;

    animation: myfirst 4s linear 2s infinite alternate;
}

@keyframes myfirst {
    0% {
        right: 0px;
        top: 100px;
    }

    25% {
        right: 20px;
        top: 75px;
    }

    50% {
        right: 0px;
        top: 50px;
    }

    75% {
        right: -20px;
        top: 75px;
    }

    100% {
        right: 0px;
        top: 100px;
    }
}

.a1>span {
    font-size: 13px;
    position: absolute;
    left: 30px;
    bottom: 15px;
}

.a1>h2 {
    color: #FFE642;
    font-size: 40px;
    position: absolute;
    top: 15px;
    left: 30px;
}

.a2 {
    width: 160px;
    min-height: 95px;
    background-color: rgb(29, 27, 27);
    position: absolute;
    border-radius: 20px;
    top: 220px;
    right: 0;

    animation: mysecond 4s linear 2s infinite alternate;
}

@keyframes mysecond {
    0% {
        top: 220px;
    }

    50% {
        top: 300px;
    }

    100% {
        top: 220px;
    }
}

.a2>span {
    font-size: 13px;
    position: absolute;
    left: 30px;
    bottom: 17px;
}

.a2>h2 {
    color: #FB1351;
    font-size: 40px;
    position: absolute;
    top: 15px;
    left: 30px;
}


/* Секция 2 */
.section2 {
    width: 100%;
    min-height: 120vh;
    margin-top: 70px;
    /* background-color: darkorange; */
    position: relative;
    left: 0;
}

.s2_upl {
    display: inline-block;
    font-size: 35px;
}

.s2_upr {
    float: right;
    color: rgb(112, 111, 111);
    margin-top: 15px;
    font-size: 12px;
}

/* Фотографии */

.s2_img1 {
    width: 343px;
    min-height: 270px;
    /* background-color: antiquewhite; */
    position: absolute;
    top: 90px;
    left: 0;
    border-radius: 10px;
    background-image: url('../img/s2/s2_1.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.5s;
}

.s2_img1:hover {
    width: 353px;
}

.s2_img1>h1 {
    font-size: 48px;
    position: absolute;
    left: 15px;
    bottom: 0;
    z-index: 10;
}

.s2_img1>span {
    font-size: 13px;
    color: rgb(112, 111, 111);
    position: absolute;
    bottom: -20px;
    left: 15px;
    z-index: 10;
}

.s2_time1 {
    width: 70px;
    height: 30px;
    background-color: black;
    border-radius: 7px;
    position: absolute;
    right: 0;
    bottom: 25px;
}


.s2_img2 {
    width: 343px;
    min-height: 270px;
    /* background-color: antiquewhite; */
    position: absolute;
    top: 90px;
    /* left: 380px; */
    left: 386px;
    border-radius: 10px;
    background-image: url('../img/s2/s2_2.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.5s;
    
}

.s2_img2:hover {
    width: 353px;
}

.s2_img2>h1 {
    font-size: 48px;
    position: absolute;
    left: 12px;
    bottom: 0;
    z-index: 10;
}

.s2_img2>span {
    font-size: 13px;
    color: rgb(112, 111, 111);
    position: absolute;
    bottom: -20px;
    left: 15px;
    z-index: 10;
}

.s2_img3 {
    width: 343px;
    min-height: 270px;
    /* background-color: antiquewhite; */
    position: absolute;
    top: 90px;
    right: 0;
    border-radius: 10px;
    background-image: url('../img/s2/s2_3.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.5s;
}

.s2_img3:hover {
    width: 353px;
}

.s2_img3>h1 {
    font-size: 48px;
    position: absolute;
    left: 15px;
    bottom: 0;
    z-index: 10;
}

.s2_img3>span {
    font-size: 13px;
    color: rgb(112, 111, 111);
    position: absolute;
    bottom: -20px;
    left: 15px;
    z-index: 10;
}

.s2_img4 {
    width: 343px;
    min-height: 270px;
    /* background-color: antiquewhite; */
    position: absolute;
    top: 460px;
    left: 0;
    border-radius: 10px;
    background-image: url('../img/s2/s2_4.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.5s;
}

.s2_img4:hover {
    width: 353px;
}

.s2_img4>h1 {
    font-size: 48px;
    position: absolute;
    left: 15px;
    bottom: 0;
    z-index: 10;
}

.s2_img4>span {
    font-size: 13px;
    color: rgb(112, 111, 111);
    position: absolute;
    bottom: -20px;
    left: 15px;
    z-index: 10;
}

.s2_img5 {
    width: 343px;
    min-height: 270px;
    /* background-color: antiquewhite; */
    position: absolute;
    top: 460px;
    left: 386px;
    border-radius: 10px;
    background-image: url('../img/s2/s2_5.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.5s;
}

.s2_img5:hover {
    width: 353px;
}

.s2_img5>h1 {
    font-size: 48px;
    position: absolute;
    left: 15px;
    bottom: 0;
    z-index: 10;
}

.s2_img5>span {
    font-size: 13px;
    color: rgb(112, 111, 111);
    position: absolute;
    bottom: -20px;
    left: 15px;
    z-index: 10;
}

.s2_img6 {
    width: 343px;
    min-height: 270px;
    /* background-color: antiquewhite; */
    position: absolute;
    top: 460px;
    right: 0;
    border-radius: 10px;
    background-image: url('../img/s2/s2_6.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.5s;
}

.s2_img6:hover {
    width: 353px;
}

.s2_img6>h1 {
    font-size: 48px;
    position: absolute;
    left: 15px;
    bottom: 0;
    z-index: 10;
}

.s2_img6>span {
    font-size: 13px;
    color: rgb(112, 111, 111);
    position: absolute;
    bottom: -20px;
    left: 15px;
    z-index: 10;
}


/* Секция 3 */
.section3 {
    width: 100%;
    min-height: 220vh;
    margin-top: 70px;
    /* background-color: darkmagenta;   */
    position: relative;
}

.square {
    width: 814px;
    height: 700px;
    position: absolute;
    right: 0px;
    top: 30px;
    background-color: rgb(26, 25, 25);
}

.s3_rt {
    width: 480px;
    min-height: 200px;
    position: absolute;
    right: 40px;
    top: 150px;
}

.s3_l {
    width: 190px;
    min-height: 60px;
    background-color: #25AB75;
    border-color: #25AB75;
    border-radius: 10px;
    float: left;
    font-size: 18px;
    margin: 40px 25px 40px 0;
    position: absolute;
    top: 350px;
    left: 300px;
}

.s3_rt>span {
    font-size: 23px;
    color: rgb(112, 111, 111);
    font-weight: 400;
    line-height: 50px;
}

.s3_lt {
    width: 520px;
    min-height: 480px;
    position: absolute;
    z-index: 100;
    top: 98px;
    /* background-color: rgb(150, 97, 27); */
}

.s3_lt_1 {
    font-size: 115px;
    font-weight: 600;
    line-height: 116px;
    /* z-index: 1000; */
}

.s3_lt_2 {
    width: 530px;
    height: 140px;
    background-image: url('../img/s3/s3_1.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    position: absolute;
    bottom: -65px;
    left: -40px;
    z-index: -1;
}

.s3_img2 {
    width: 480px;
    height: 480px;
    background-image: url('../img/s3/s3_2.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 37px;
    top: 586px;
    transition: 0.5s;
}

.s3_img2:hover {
    width: 490px;
    height: 490px;
    z-index: 10;
}

.s3_img2>h4 {
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    left: 20px;
    bottom: -5px;
}

.s3_img2>span {
    font-size: 14px;
    font-weight: 400;
    color: rgb(112, 111, 111);
    position: absolute;
    left: 20px;
    bottom: -20px;
}

.s3_img3 {
    width: 321px;
    height: 300px;
    background-image: url('../img/s3/s3_3.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 3px;
    top: 729px;
    transition: 0.5s;
}

.s3_img3:hover{
    width: 331px;
    height: 310px;
    z-index: 10;
}

.s3_img3>h4 {
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    bottom: -45px;
}

.s3_img3>span {
    font-size: 14px;
    font-weight: 400;
    color: rgb(112, 111, 111);
    position: absolute;
    bottom: -60px;
}

.s3_img4 {
    width: 321px;
    height: 300px;
    background-image: url('../img/s3/s3_4.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 27%;
    top: 1029px;
    transition: 0.5s;
}

.s3_img4:hover{
    width: 331px;
    height: 310px;
    z-index: 10;
}

.s3_img4>h4 {
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    bottom: -45px;
}

.s3_img4>span {
    font-size: 14px;
    font-weight: 400;
    color: rgb(112, 111, 111);
    position: absolute;
    bottom: -60px;
}


.section4 {
    width: 100%;
    min-height: 140vh;
    /* background-color: cyan; */
    position: relative;
}

.accordion {
    width: 100%;
    background-color: black;
}

.accordion-section {
    height: 185px;
    color: white;
    font-size: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid rgba(247, 245, 245, 0.1);
    display: flex;
    justify-content: space-between;

}

.accordion-content {
    font-size: 14px;
    padding-left: 80px;
    display: none;
    color: white;
}

.left {
    font-size: 25px;
    font-weight: 600;
    color: rgb(75, 73, 73);
}

.down {
    font-size: 14px;
    font-weight: 400;
    color: rgb(75, 73, 73);

}

.s4_tS1 {
    margin-left: 20px;
}

.s4_tH {
    margin-left: -110px;
}

.s4_tS2 {
    margin-left: -60px;
}

.s4_tB {
    margin-left: -120px;
}

.k_footer {
    width: 100%;
    min-height: 50vh;
    margin-top: 40px;
    /* background-color: forestgreen; */
    position: relative;
    /* top: 50px; */
}

.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #000000;
}

.footer-dark h3 {
    margin-top: 25px;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}

.footer-dark ul a:hover {
    opacity: 0.8;
}



.footer-dark .item.text {
    margin-bottom: 36px;
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer-dark .item.social {
    text-align: center;
}

.footer-dark .item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
}

.footer-dark .item.social>a:hover {
    opacity: 0.9;
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}


/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 8px; 
    height: 8px; 
    background-color: #111111;
    
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #0c0c0c;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #252323;
}

/* Стрелки */

::-webkit-scrollbar-button:vertical:start:decrement {
    background: linear-gradient(120deg, #000000 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(240deg, #000000 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(0deg, #000 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:vertical:end:increment {
    background:
        linear-gradient(300deg, #000 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(60deg, #000 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(180deg, #000 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    background:
        linear-gradient(30deg, #000 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(150deg, #000 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(270deg, #000 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:end:increment {
    background:
        linear-gradient(210deg, #000 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(330deg, #000 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(90deg, #000 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}





@media screen and (min-width: 768px) {

    #navbar-toggle,
    #navbar-toggle[aria-expanded="true"] {
        display: none;
    }

    #navbar-menu,
    #navbar-toggle[aria-expanded="true"] #navbar-menu {
        visibility: visible;
        opacity: 1;
        position: static;
        display: block;
        height: 100%;
    }

    .navbar-links,
    #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
        margin: 0;
        padding: 0;
        box-shadow: none;
        position: static;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }

    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }

    .footer-dark .item.text {
        margin-bottom: 0;
    }



}


@media only screen and  (max-width: 1199px) {

    .section1{
        min-height: 85vh;
    }

    .s1w{
        width: 260px;
        min-height: 20px;
    }

    .s1w_1{
        width: 45px;
        height: 20px;
        font-size: 11px;
    }

    .s1w_2{
        font-size: 10px;
    }

    .s1_ct>h1 {
        font-size: 145px;
        font-weight: 600;
        line-height: 135px;
    }

    .a1 {
        width: 130px;
        min-height: 83px;
    }

    .a1 > h2{
        font-size: 33px;
        left: 24px;
    }

    .a1 > span{
        font-size: 12px;
        left: 24px;
        bottom: 10px;
    }

    .a2 {
        width: 130px;
        min-height: 83px;
    }

    .a2 > h2{
        font-size: 33px;
        left: 24px;
    }

    .a2 > span{
        font-size: 12px;
        left: 24px;
        bottom: 10px;
    }

    .s1_images {
        width: 400px;
        top: -25px;
        right: 34px;
    }

    .s1_l {
        width: 120px;
        min-height: 60px;
    }

    

    .s1_r {
        width: 130px;
        min-height: 60px;
        left: 160px;
    }

    .s1_t {
        width: 395px;
        top: 340px;
    }

    .s1_t>span {
        font-size: 16px;
    }

    .section2 {
        min-height: 165vh;
    }

    .s2_img1 {
        left: 10%;
    }

    .s2_img2 {
        left: 55%;
    }

    .s2_img3 {
        top: 400px;
        left: 10%;
    }

    .s2_img4 {
        top: 400px;
        left: 55%;
    }

    .s2_img5 {
        top: 710px;
        left: 10%;
    }

    .s2_img6 {
        top: 710px;
        left: 55%;
    }

    .section3 {
        min-height: 185vh;
    }

    .square {
        width: 680px;
        height: 590px;
        right: 0px;
        top: 0;
    }

    .s3_rt {
        width: 350px;
    }

    .s3_rt > span {
        font-size: 20px;
        line-height: 40px;
    }

    .s3_l {
        width: 120px;
        min-height: 60px;
        top: 330px;
        left: 290px;
    }
    .s3_lt{
        top: 50px;
    }

    .s3_lt_1 {
        width: 440px;
        font-size: 100px;
        line-height: 110px;
    }

    .s3_lt_2 {
        width: 300px;
        height: 80px;
        top: 395px;
        left: 0;
    }

    .s3_img2 {
        width: 380px;
        height: 380px;
        top: 490px;
        right: 50px;
    }

    .s3_img2:hover{
        width: 390px;
        height: 390px;
    }

    .s3_img2>h4 {
        font-size: 15px;
        bottom: -10px;
    }

    .s3_img2>span {
        font-size: 11px;
        bottom: -20px;
    }

    .s3_img3 {
        width: 250px;
        height: 252px;
        left: 6px;
        top: 589px;
    }

    .s3_img3:hover {
        width: 260px;
        height: 262px;
    }

    .s3_img3>h4 {
        font-size: 15px;
        bottom: -30px;
    }

    .s3_img3>span {
        font-size: 11px;
        bottom: -40px;
    }

    .s3_img4 {
        width: 250px;
        height: 252px;
        top: 840px;
        left: 256px;
    }

    .s3_img4:hover {
        width: 260px;
        height: 262px;
    }

    .s3_img4>h4 {
        font-size: 15px;
        bottom: -30px;
    }

    .s3_img4>span {
        font-size: 11px;
        bottom: -40px;
    }

    .s4_text{
        font-size: 35px;
    }

    .down{
        font-size: 10px;
    }

    .s4_tS1 {
        margin-left: 20px;
    }
    
    .s4_tH {
        margin-left: -70px;
    }
    
    .s4_tS2 {
        margin-left: -40px;
    }
    
    .s4_tB {
        margin-left: -80px;
    }

}





@media (max-width:991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 20px;
    }

    .section1{
        min-height: 80vh;
    }

    .s1w{
        width: 245px;
        min-height: 20px;
    }

    .s1w_1{
        width: 45px;
        height: 20px;
        font-size: 10px;
    }

    .s1w_2{
        font-size: 9px;
    }

    .s1_ct>h1 {
        font-size: 111px;
        font-weight: 600;
        line-height: 105px;
    }

    .a1 {
        width: 110px;
        min-height: 68px;
        z-index: 555555;
    }

    .a1 > h2{
        font-size: 27px;
        left: 24px;
    }

    .a1 > span{
        font-size: 10px;
        left: 24px;
        bottom: 8px;
    }

    .a2 {
        width: 110px;
        min-height: 68px;
        z-index: 555555;
    }

    .a2 > h2{
        font-size: 27px;
        left: 24px;
    }

    .a2 > span{
        font-size: 10px;
        left: 24px;
        bottom: 8px;
    }

    @keyframes mysecond {
        0% {
            top: 180px;
        }
    
        50% {
            top: 260px;
        }
    
        100% {
            top: 180px;
        }
    }

    .s1_images {
        max-width: 320px;
        top: -70px;
        right: -5px;
        
    }

    .s1_l {
        width: 105px;
        min-height: 50px;
        font-size: 15px;
        top: 60px;
    }


    .s1_r {
        width: 105px;
        min-height: 50px;
        font-size: 15px;
        top: 60px;
        left: 135px;
    }

    .s1_t {
        width: 395px;
        top: 310px;
    }

    .s1_t>span {
        font-size: 16px;
    }

    .section2 {
        min-height: 165vh;
    }

    .s2_img1{
        left: 0;
    }

    .s2_img2 {
        left: 55%;
    }

    .s2_img3 {
        top: 400px;
        left: 0;
    }

    .s2_img4 {
        top: 400px;
        left: 55%;
    }

    .s2_img5 {
        top: 710px;
        left: 0;
    }

    .s2_img6 {
        top: 710px;
        left: 55%;
    }

    .section3 {
        min-height: 150vh;
    }

    .square {
        width: 515px;
        height: 455px;
        right: -20px;
        top: 0;
    }

    .s3_rt {
        width: 285px;
        top: 55px;
    }

    .s3_rt > span {
        font-size: 16px;
        line-height: 35px;
    }

    .s3_l {
        width: 105px;
        min-height: 50px;
        font-size: 15px;
        top: 210px;
        left: 190px;
    }

    .s3_lt{
        top: 30px;
    }

    .s3_lt_1 {
        width: 310px;
        font-size: 80px;
        line-height: 90px;
    }

    .s3_lt_2 {
        width: 300px;
        height: 80px;
        top: 315px;
        left: 0;
    }

    .s3_img2 {
        width: 300px;
        height: 300px;
        top: 375px;
        right: 1px;
    }

    .s3_img2:hover {
        width: 310px;
        height: 310px;
    }

    .s3_img2>h4 {
        font-size: 15px;
        bottom: -10px;
    }

    .s3_img2>span {
        font-size: 11px;
        bottom: -20px;
    }

    .s3_img3 {
        width: 196px;
        height: 199px;
        top: 455px;
        left: 3px;
    }

    .s3_img3:hover {
        width: 206px;
        height: 209px;
    }

    .s3_img3>h4 {
        font-size: 15px;
        bottom: -30px;
    }

    .s3_img3>span {
        font-size: 11px;
        bottom: -40px;
    }

    .s3_img4 {
        width: 196px;
        height: 199px;
        top: 652px;
        left: 199px;
    }

    .s3_img4:hover {
        width: 206px;
        height: 209px;
    }

    .s3_img4>h4 {
        font-size: 15px;
        bottom: -30px;
    }

    .s3_img4>span {
        font-size: 11px;
        bottom: -40px;
    }

    .s4_text{
        font-size: 35px;
    }

    .down{
        font-size: 10px;
    }

    .s4_tS1 {
        margin-left: 20px;
    }
    
    .s4_tH {
        margin-left: -70px;
    }
    
    .s4_tS2 {
        margin-left: -40px;
    }
    
    .s4_tB {
        margin-left: -80px;
    }


}




@media (max-width: 768px) {

    .section1{
        min-height: 80vh;
    }

    .s1w{
        width: 245px;
        min-height: 20px;
    }

    .s1w_1{
        width: 45px;
        height: 20px;
        font-size: 10px;
    }

    .s1w_2{
        font-size: 9px;
    }

    .s1_ct {
        width: 100%;
    }

    .s1_ct>h1 {
        font-size: 120px;
        font-weight: 600;
        line-height: 110px;
    }

    .a1 {
        display: none;
    }

    .a2 {
        display: none;
    }

    .s1_images {
        display: none;
    }

    .s1_l {
        width: 105px;
        min-height: 50px;
        font-size: 15px;
        top: 60;
    }


    .s1_r {
        width: 105px;
        min-height: 50px;
        font-size: 15px;
        top: 60px;
    }

    .s1_t {
        width: 395px;
        top: 330px;
    }

    .s1_t>span {
        font-size: 16px;
    }

    .section2 {
        min-height: 460vh;
    }

    .s2_img1{
        width: 100%;
        min-height: 390px;
        left: 0;
    }

    .s2_img1:hover{
         width: 525px;
    }

    .s2_img1 > h1{
        font-size: 60px;
    }

    .s2_img1 > span{
        font-size: 16px;
    }

    .s2_time1{
        width: 80px;
        min-height: 40px;
    }

    
    .s2_img2 {
        width: 100%;
        min-height: 390px;
        left: 0;
        top: 550px;
    }

    .s2_img2:hover{
        width: 525px;
    }

    .s2_img2 > h1{
        font-size: 60px;
    }

    .s2_img2 > span{
        font-size: 16px;
    }

    .s2_img3 {
        width: 100%;
        min-height: 390px;
        left: 0;
        top: 1010px;
    }

    .s2_img3:hover{
        width: 525px;
    }

    .s2_img3 > h1{
        font-size: 60px;
    }

    .s2_img3 > span{
        font-size: 16px;
    }

    .s2_img4 {
        width: 100%;
        min-height: 390px;
        left: 0;
        top: 1470px;
    }

    .s2_img4:hover{
        width: 525px;
    }

    .s2_img4 > h1{
        font-size: 60px;
    }

    .s2_img4 > span{
        font-size: 16px;
    }

    
    .s2_img5 {
        width: 100%;
        min-height: 390px;
        left: 0;
        top: 1930px;
    }

    .s2_img5:hover{
        width: 525px;
    }

    .s2_img5 > h1{
        font-size: 60px;
    }

    .s2_img5 > span{
        font-size: 16px;
    }

    .s2_img6 {
        width: 100%;
        min-height: 390px;
        left: 0;
        top: 2390px;
    }

    .s2_img6:hover{
        width: 525px;
    }

    .s2_img6 > h1{
        font-size: 60px;
    }

    .s2_img6 > span{
        font-size: 16px;
    }

    .section3 {
        min-height: 350vh;
    }

    .square {
        width: 73%;
        height: 305px;
        right: 0;
    }

    .s3_rt {
        width: 70%;
        height: 50px;
        top: 40px;
        right: 0px;
    }

    .s3_rt > span {
        font-size: 12px;
        line-height: 20px;
    }

    .s3_l {
        width: 75px;
        min-height: 35px;
        font-size: 10px;
        left: 110px;
        top: 130px;
    }

    .s3_lt{
        top: 30px;
    }

    .s3_lt_1 {
        width: 240px;
        font-size: 55px;
        line-height: 56px;
    }

    .s3_lt_2 {
        width: 200px;
        height: 50px;
        top: 200px;
        left: -10px;
    }

    .s3_img2 {
        width: 100%;
        height: 520px;
        top: 375px;
        left: 0px;
    }

    .s3_img2:hover{
        width: 100%;
        height: 520px;
    }

    .s3_img2>h4 {
        font-size: 22px;
        bottom: -2px;
        left: 0;
    }

    .s3_img2>span {
        font-size: 14px;
        bottom: -12px;
        left: 0;
    }

    .s3_img3 {
        width: 100%;
        height: 520px;
        top: 950px;
        left: 0px;
    }

    .s3_img3:hover{
        width: 100%;
        height: 520px;
    }

    .s3_img3>h4 {
        font-size: 22px;
        bottom: -45px;
    }

    .s3_img3>span {
        font-size: 14px;
        bottom: -55px;
    }

    .s3_img4 {
        width: 100%;
        height: 520px;
        top: 1575px;
        left: 0px;
    }

    .s3_img4:hover{
        width: 100%;
        height: 520px;
    }

    .s3_img4>h4 {
        font-size: 22px;
        bottom: -45px;
    }

    .s3_img4>span {
        font-size: 14px;
        bottom: -55px;
    }


}



@media (max-width: 550px) {

    .section1{
        min-height: 70vh;
    }

    .s1_ct>h1 {
        font-size: 100px;
        font-weight: 600;
        line-height: 90px;
    }

    .section2{
        min-height: 410vh;
    }

    .s3_lt{
        width: 100%;
    }

    .square {
        width: 62%;
        height: 355px;
        right: 0;
    }

    .s3_rt {
        width: 150%;
        height: 50px;
        top: 385px;
        right: 0px;
    }

    .s3_rt > span {
        font-size: 14px;
        line-height: 18px;
    }

    .s3_l {
        width: 75px;
        height: 35px;
        font-size: 10px;
        left: 110px;
        top: 438px;
        left: -160px;
    }

    .s3_lt{
        width: 100%;
        top: 30px;
    }

    .s3_lt_1 {
        width: 340px;
        font-size: 78px;
        line-height: 78px;
    }

    .s3_lt_2 {
        width: 230px;
        height: 55px;
        top: 275px;
        left: -5px;
    }

    .s3_img2 {
        top: 570px;
    }

    .s3_img2:hover{
        width: 100%;
        height: 50vh;
    }

    .s3_img3 {
        top: 1150px;
    }

    .s3_img4 {
        top: 1775px;
    }
}






@media (max-width: 500px) {

    .section1{
        min-height: 65vh;
    }

    .s1w{
        width: 245px;
        min-height: 20px;
    }

    .s1w_1{
        width: 45px;
        height: 20px;
        font-size: 10px;
    }

    .s1w_2{
        font-size: 9px;
    }

    .s1_ct {
        width: 100%;
    }

    .s1_ct>h1 {
        font-size: 87px;
        font-weight: 600;
        line-height: 80px;
    }

    .a1 {
        display: none;
    }

    .a2 {
        display: none;
    }

    .s1_images {
        display: none;
    }

    .s1_l {
        width: 105px;
        min-height: 50px;
        font-size: 15px;
        top: 60px;
    }


    .s1_r {
        width: 105px;
        min-height: 50px;
        font-size: 15px;
        top: 60px;
    }

    .s1_t {
        width: 100%;
        top: 280px;
    }

    .s1_t>span {
        font-size: 16px;
    }

    .section2 {
        min-height: 410vh;
    }

    .s2_img1{
        width: 100%;
        min-height: 390px;
        left: 0;
    }

    .s2_img1:hover{
        width: 100%;
    }

    .s2_img1 > h1{
        font-size: 60px;
    }

    .s2_img1 > span{
        font-size: 16px;
    }

    .s2_time1{
        width: 80px;
        min-height: 40px;
    }

    
    .s2_img2 {
        width: 100%;
        min-height: 390px;
        left: 0;
        top: 550px;
    }

    .s2_img2:hover{
        width: 100%;
    }

    .s2_img2 > h1{
        font-size: 60px;
    }

    .s2_img2 > span{
        font-size: 16px;
    }

    .s2_img3 {
        width: 100%;
        min-height: 390px;
        left: 0;
        top: 1010px;
    }

    .s2_img3:hover{
        width: 100%;
    }

    .s2_img3 > h1{
        font-size: 60px;
    }

    .s2_img3 > span{
        font-size: 16px;
    }

    .s2_img4 {
        width: 100%;
        min-height: 390px;
        left: 0;
        top: 1470px;
    }

    .s2_img4:hover{
        width: 100%;
    }

    .s2_img4 > h1{
        font-size: 60px;
    }

    .s2_img4 > span{
        font-size: 16px;
    }

    
    .s2_img5 {
        width: 100%;
        min-height: 390px;
        left: 0;
        top: 1930px;
    }

    .s2_img5:hover{
        width: 100%;
    }

    .s2_img5 > h1{
        font-size: 60px;
    }

    .s2_img5 > span{
        font-size: 16px;
    }

    .s2_img6 {
        width: 100%;
        min-height: 390px;
        left: 0;
        top: 2390px;
    }

    .s2_img6:hover{
        width: 100%;
    }

    .s2_img6 > h1{
        font-size: 60px;
    }

    .s2_img6 > span{
        font-size: 16px;
    }

    .section3 {
        min-height: 350vh;
    }

    .square {
        width: 63%;
        height: 355px;
        right: 0;
    }

    .s3_rt {
        width: 150%;
        height: 50px;
        top: 385px;
        right: 0px;
    }

    .s3_rt > span {
        font-size: 14px;
        line-height: 18px;
    }

    .s3_l {
        width: 75px;
        height: 35px;
        font-size: 10px;
        left: 110px;
        top: 450px;
        left: -130px;
    }

    .s3_lt{
        width: 100%;
        top: 30px;
    }

    .s3_lt_1 {
        width: 340px;
        font-size: 78px;
        line-height: 78px;
    }

    .s3_lt_2 {
        width: 230px;
        height: 55px;
        top: 275px;
        left: -5px;
    }

    .s3_img2 {
        width: 100%;
        height: 60vh;
        top: 570px;
        left: 0px;
    }

    .s3_img2:hover{
        width: 100%;
        height: 60vh;
    }

    .s3_img2>h4 {
        font-size: 22px;
        bottom: -20px;
        left: 0;
    }

    .s3_img2>span {
        font-size: 14px;
        bottom: -32px;
        left: 0;
    }

    .s3_img3 {
        width: 100%;
        height: 60vh;
        top: 1150px;
        left: 0px;
    }

    .s3_img3:hover{
        width: 100%;
        height: 60vh;
    }

    .s3_img3>h4 {
        font-size: 22px;
        bottom: -45px;
    }

    .s3_img3>span {
        font-size: 14px;
        bottom: -55px;
    }

    .s3_img4 {
        width: 100%;
        height: 60vh;
        top: 1775px;
        left: 0px;
    }

    .s3_img4:hover{
        width: 100%;
        height: 60vh;
    }

    .s3_img4>h4 {
        font-size: 22px;
        bottom: -45px;
    }

    .s3_img4>span {
        font-size: 14px;
        bottom: -55px;
    }

    .accordion-section{
        height: 110px;
    }

    .s4_text{
        font-size: 20px;
    }

    .left{
        font-size: 18px;
    }

    .s4_tH{
        margin-left: -25px;
    }

    .s4_tS2{
        margin-left: -10px;
    }

    .s4_tB{
        margin-left: -25px;
    }

    .arrow{
        font-size: 30px;
    }
}






@media (max-width: 375px) {
    
    .section1{
        min-height: 55vh;
    }

    .s1w{
        width: 225px;
        height: 18px;
        position: relative;
        top: 10px;
    }

    .s1w_1{
        width: 38px;
        min-height: 18px;
        font-size: 8px;
        position: absolute;
        top: 0px;
    }

    .s1w_2{
        font-size: 8px;
        position: absolute;
        top: 4px;
        left: 50px;
    }

    .s1_ct > h1 {
        font-size: 70px;
        font-weight: 600;
        line-height: 60px;
        position: relative;
        top: 25px;
    }

    .a1 {
        display: none;
    }

    .a2 {
        display: none;
    }

    .s1_images {
        display: none;
    }

    .s1_l {
        width: 105px;
        min-height: 50px;
        font-size: 15px;
        top: 0;
    }


    .s1_r {
        width: 105px;
        min-height: 50px;
        font-size: 15px;
    }

    .s1_t {
        width: 100%;
        top: 230px;
    }

    .s1_t>span {
        font-size: 13px;
    }

    .s1_l {
        top: 60px;
        left: 0;
    }

    .s1_r {
        top: 60px;
        left: 130px;
    }

    .section2 {
        min-height: 300vh;
    }

    .s2_img1{
        width: 100%;
        min-height: 260px;
        left: 0;
    }

    .s2_img1:hover{
         width: 351px;
    }

    .s2_img1 > h1{
        font-size: 40px;
        left: 15px;
    }

    .s2_img1 > span{
        font-size: 13px;
    }

    .s2_time1{
        width: 60px;
        min-height: 25px;
    }

    .s2_time1 > h5{
        font-size: 1rem;
    }

    
    .s2_img2 {
        width: 100%;
        min-height: 260px;
        left: 0;
        top: 420px;
    }

    .s2_img2:hover{
        width: 525px;
    }

    .s2_img2 > h1{
        font-size: 40px;
        left: 15px;
    }

    .s2_img2 > span{
        font-size: 13px;
    }

    .s2_img3 {
        width: 100%;
        min-height: 260px;
        left: 0;
        top: 750px;
    }

    .s2_img3:hover{
        width: 525px;
    }

    .s2_img3 > h1{
        font-size: 40px;
        left: 15px;
    }

    .s2_img3 > span{
        font-size: 13px;
    }

    .s2_img4 {
        width: 100%;
        min-height: 260px;
        left: 0;
        top: 1080px;
    }

    .s2_img4:hover{
        width: 525px;
    }

    .s2_img4 > h1{
        font-size: 40px;
        left: 15px;
    }

    .s2_img4 > span{
        font-size: 13px;
    }

    
    .s2_img5 {
        width: 100%;
        min-height: 260px;
        left: 0;
        top: 1410px;
    }

    .s2_img5:hover{
        width: 525px;
    }

    .s2_img5 > h1{
        font-size: 40px;
        left: 15px;
    }

    .s2_img5 > span{
        font-size: 13px;
    }

    .s2_img6 {
        width: 100%;
        min-height: 260px;
        left: 0;
        top: 1740px;
    }

    .s2_img6:hover{
        width: 525px;
    }

    .s2_img6 > h1{
        font-size: 40px;
        left: 15px;
    }

    .s2_img6 > span{
        font-size: 13px;
    }

    .section3 {
        min-height: 280vh;
    }

    .square {
        width: 60%;
        height: 305px;
        right: 0;
    }

    .s3_rt {
        width: 150%;
        height: 50px;
        top: 345px;
        right: 0px;
    }

    .s3_rt > span {
        font-size: 12px;
        line-height: 18px;
    }

    .s3_l {
        width: 75px;
        height: 35px;
        font-size: 10px;
        left: 110px;
        top: 400px;
        left: -110px;
    }

    .s3_lt{
        width: 100%;
        top: 30px;
    }

    .s3_lt_1 {
        width: 260px;
        font-size: 65px;
        line-height: 68px;
    }

    .s3_lt_2 {
        width: 230px;
        height: 55px;
        top: 240px;
        left: -10px;
    }

    .s3_img2 {
        width: 100%;
        height: 360px;
        top: 520px;
        right: 0px;
    }

    .s3_img2:hover{
        width: 100%;
        height: 360px;
    }

    .s3_img2>h4 {
        font-size: 22px;
        bottom: -10px;
        left: 0;
    }

    .s3_img2>span {
        font-size: 14px;
        bottom: -22px;
        left: 0;
    }

    .s3_img3 {
        width: 100%;
        height: 360px;
        top: 950px;
        left: 0px;
    }

    .s3_img3:hover{
        width: 100%;
        height: 360px;
    }

    .s3_img3>h4 {
        font-size: 22px;
        bottom: -45px;
    }

    .s3_img3>span {
        font-size: 14px;
        bottom: -55px;
    }

    .s3_img4 {
        width: 100%;
        height: 360px;
        top: 1415px;
        left: 0px;
    }

    .s3_img4:hover{
        width: 100%;
        height: 360px;
    }

    .s3_img4>h4 {
        font-size: 22px;
        bottom: -45px;
    }

    .s3_img4>span {
        font-size: 14px;
        bottom: -55px;
    }

    .section4{
        min-height: 40vh;
    }

    .accordion-section{
        height: 110px;
    }

    .s4_text{
        font-size: 20px;
    }

    .left{
        font-size: 18px;
    }

    .s4_tH{
        margin-left: -25px;
    }

    .s4_tS2{
        margin-left: -10px;
    }

    .s4_tB{
        margin-left: -25px;
    }

    .arrow{
        font-size: 30px;
    }
}